<ion-header>
  <ion-navbar>
    <ion-title>{{ title }}</ion-title>
     <!-- <button ion-button (click)="clearCacheAndReload()">Clear</button> -->
     <ion-buttons end>
        <button (click)="showPreferences()" ion-button icon-only>
          <ion-icon name="more" color="dark"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>

<ion-list>
  <ion-item detail-none *ngFor="let sound of listSortedSounds()">
    <h2>{{ sound.title }}</h2>

    <ion-icon *ngIf="!sound.isPlaying" name="play" item-start (click)="cacheAndPlay(sound)"></ion-icon>
    <ion-icon *ngIf="sound.isPlaying" name="square" item-start (click)="stopPlayback()"></ion-icon>

    <ion-icon *ngIf="!favouritesService.hasFavourite(sound)" name="star-outline" item-end (click)="toggleFavourite(sound)"></ion-icon>
    <ion-icon *ngIf="favouritesService.hasFavourite(sound)" name="star" item-end (click)="toggleFavourite(sound)"></ion-icon>
  </ion-item>
</ion-list>

</ion-content>
