<ion-header>
  <ion-navbar>
    <ion-title>{{ title }}</ion-title>
    <!-- <button ion-button (click)="favouritesData.clearStorage()">Clear</button> -->
  </ion-navbar>
</ion-header>

<ion-content>

<ion-list>
  <ion-item detail-none *ngFor="let sound of listSortedSounds()">
    <h2>{{ sound.title }}</h2>

    <ion-icon *ngIf="!sound.isPlaying" name="play" item-start (click)="play(sound)"></ion-icon>
    <ion-icon *ngIf="sound.isPlaying" name="square" item-start (click)="stop(sound)"></ion-icon>

    <ion-icon *ngIf="!favouritesData.hasFavourite(sound)" name="star-outline" item-end (click)="toggleFavourite(sound)"></ion-icon>
    <ion-icon *ngIf="favouritesData.hasFavourite(sound)" name="star" item-end (click)="toggleFavourite(sound)"></ion-icon>
  </ion-item>
</ion-list>

</ion-content>
